/* ############################################# */
/* ########## eBook Architects Styles ########## */
/* ##  Copyright 2014 Firebrand Technologies  ## */
/* ############################################# */

/* ############################################# */
/* #################### Fonts ################## */
/* ############################################# */
@font-face {
	font-family: "Roman";
    src: url('fonts/CrimsonText-Roman.ttf');
    font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Roman";
    src: url('fonts/CrimsonText-Bold.ttf');
    font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "Roman";
    src: url('fonts/CrimsonText-Italic.ttf');
    font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: "Roman";
    src: url('fonts/CrimsonText-BoldItalic.ttf');
    font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Sans";
    src: url('fonts/DejaVuSans.ttf');
    font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Sans";
    src: url('fonts/DejaVuSans-Bold.ttf');
    font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "Sans";
    src: url('fonts/DejaVuSans-Oblique.ttf');
    font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: "Sans";
    src: url('fonts/DejaVuSans-BoldOblique.ttf');
    font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Mono";
    src: url('fonts/texgyrecursor-regular.ttf');
    font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Mono";
    src: url('fonts/texgyrecursor-italic.ttf');
    font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "DancingScript";
    src: url('fonts/DancingScript.ttf');
    font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "DancingScript";
    src: url('fonts/DancingScript-Bold.ttf');
    font-weight: bold;
	font-style: normal;
}

/* ############################################# */
/* ################ Foundational ############### */
/* ############################################# */
body {
    font-family: "Roman", serif;
}
p {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5em;
    widows: 2;
    orphans: 2;
}

/* ############################################# */
/* ################# Title Page ################ */
/* ############################################# */
p.title {
	color: #c76004;
	-webkit-text-stroke: 1px #404040;
	text-stroke: 1px #404040;
	text-shadow: 3px 3px 5px #606060;
	font-size: 3.5em;
	margin-top: 20%;
    font-family: "Roman", serif;
	font-weight: bold;
	text-align: center;
	text-indent: 0;
}
p.author {
	text-indent: 0;
	font-size: 1.5em;
    font-family: "Roman", serif;
	font-weight: bold;
	text-align: center;
	color: #046DC8;
}


/* ############################################# */
/* ################## Headings ################# */
/* ############################################# */
h1, h2, h3, h4, h5, h6 {
	page-break-after:avoid;
	-epub-hyphens: none !important;
	hyphens: none !important;
	font-family: "Sans", sans-serif;
	font-weight: bold;
}
div.partbox {
	margin-top: 20%;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 4em 1em;
	width: 90%;
	border: 4px solid #964803;
	border-radius:10px;
	background-color: #c76004;
}
h1.part {
	text-align: center;
	margin: 0;
	font-size: 3.5em;
	font-weight: bold;
	color: #fff;
	-webkit-text-stroke: 1px #404040;
	text-stroke: 1px #404040;
	text-shadow: 3px 3px 5px #000;
}
span.partname {
	font-size: 0.75em;
	margin-top: 1.5em;
	display: block;
	font-family: "DancingScript", sans-serif;
	-webkit-text-stroke: 0;
	text-stroke: 0;
	text-shadow: 3px 3px 5px #000;
}
div.partbox aside.epigraph {
	width: 90%;
	margin-top: 1.5em;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	font-size: 0.9em;
	border: 2px solid #964803;
	border-radius:10px;
	background-color: #fff;
	font-family: "Sans", sans-serif;
}

div.chapterbox {
	margin-top: 10%;
	margin-bottom: 0;
}
h2.chap {
	text-align: center;
	margin: 0;
	font-size: 2.5em;
	font-weight: bold;
	font-family: "Sans", sans-serif;
	color: #500000;
}
span.chapname {
	font-size: 0.75em;
	margin-top: 1.5em;
	display: block;
	font-family: "Sans", sans-serif;
}
div.chapterbox aside.epigraph {
	width: 90%;
	margin-top: 1.5em;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	font-size: 0.9em;
	border: 2px dotted #6B0000;
	border-radius:10px;
	font-family: "Sans", sans-serif;
}
h1.fm {
	text-align: center;
	margin: 1.5em 0 0 0;
	font-size: 1.75em;
	font-weight: bold;
	font-family: "Sans", sans-serif;
	color: #4A4A4A;
}

/* ############################################# */
/* ################## Paragraphs ############### */
/* ############################################# */
.ind {text-indent: 2em;}
.noind {text-indent: 0;}
.center {
	text-align: center;
	text-indent: 0;
}
.right {
	text-indent: 0;
	text-align: right;
}
.first {
	text-indent: 0;
	margin-top: 2em;
}

.copy1 {
	font-size: 0.65em;
	text-indent: 0;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
}
.copy2 {
	font-size: 0.65em;
	text-indent: 0;
	margin-top: 3em;
	margin-left: 10%;
	margin-right: 10%;
	text-align: center;
	font-style: italic;
}


/* ############################################# */
/* ################### NAV doc ################# */
/* ############################################# */
nav[epub\:type~='landmarks'], nav[epub\:type~='page-list'] {
   display: none;
   visibility: hidden;
}
.hidden {
	display:none;
}

nav ol {
	padding-left: 0;
}
ol.notlist li {
	display: block;
}
nav ol li { /* toc1 */
	text-align: left;
    text-indent: -1.5em;
    margin-left: 1.5em;
}
nav ol ol li { /* toc2 */
	text-align: left;
    text-indent: -1.5em;
    margin-left: 3em;
}


/* ############################################# */
/* ################### Poetry ################## */
/* ############################################# */
div.stanza {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
.poem1 {
	text-align: left;
    text-indent: -1.5em;
    margin-left: 1.5em;
}
.poem2 {
	text-align: left;
    text-indent: -1.5em;
    margin-left: 3em;
}
.poem3 {
	text-align: left;
    text-indent: -1.5em;
    margin-left: 4.5em;
}
.poem4 {
	text-align: left;
    text-indent: -1.5em;
    margin-left: 6em;
}


/* ############################################# */
/* ################### Tables ################## */
/* ############################################# */
table {
    border-collapse: collapse;
    margin: 20px auto;
}
th {
    padding: 2px 12px;
    font-family: "Roman", serif;
    vertical-align: bottom;
}
td {
    padding: 2px 4px;
}
.total {
	text-align: right;
	border-top: 1px solid black;
}

/* ############################################# */
/* ################ Pull Quotes ################ */
/* ############################################# */
.pullquoteright {
    float: right;
    margin: 10px 0 10px 10px;
    width: 45%;
	padding: 10px 0;
    font-weight: bold;
    font-family: "Roman", serif;
}
hr.pqtop {
	width: 100%;
	height: 33px;
	background-image: url('images/quote-top.png');
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center;
	background-size: 100% auto;
	border: transparent;
}
hr.pqbottom {
	width: 100%;
	height: 33px;
	background-image:url('images/quote-bottom.png');
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center;
	background-size: 100% auto;
	border: transparent;
}
.quote {
    text-indent: 0;
    text-align: center;
    font-size: 1.2em;
}

/* ############################################# */
/* ################### Letter ################## */
/* ############################################# */
.letter {
	margin: 1em 1.5em;
	font-family: "Mono", monospace;
}
.letter i {
	font-family: "Mono", monospace;
	font-style: italic;
}

/* ############################################# */
/* ################### Images ################## */
/* ############################################# */
figure {display: block;}
p.caption {
	text-align: center;
	text-indent: 0;
	font-size: 0.85em;
	font-weight: bold;
	font-family: "Sans", sans-serif;
	margin: 0 10%;
}
p.subcaption {
	text-align: center;
	text-indent: 0;
	font-size: 0.8em;
	margin: 0 10%;
}
p.credit {
	text-align: center;
	text-indent: 0;
	font-size: 0.75em;
	font-style: italic;
    font-family: "Roman", serif;
	margin: 0 10%;
}
p.creditright {
	text-align: right;
	text-indent: 0;
	font-size: 0.75em;
    font-family: "Roman", serif;
	margin: 0;
}
.imglarge {
	width: 100%;
}
.imgmed {
	width: 60%;
	margin-top: 1.5em;
}
.imgmedshadow {
	width: 60%;
	box-shadow: 3px 3px 8px #888888;
	margin-top: 1.5em;
}
.imgsmall {
	height: 300px;
}

.middle {
	margin: 10px 0;
	text-align: center;
}
.colophon {
	margin-top: 30%;
	text-align: center;
}

.floatright {
	float: right;
	margin: 10px 10px 0 10px;
	width: 45%;
}
img.shadow {
	box-shadow: 3px 3px 8px #888888;
	width: 100%;
}

body.fullpage {
	margin: 0;
	padding: 0;
}

/* ########### Full-screen with caption ########### */
div.img_fs_cap {
	text-align: center;
	margin: 0;
	page-break-inside: avoid;
}
img.fs_cap_l {
	height: 80%;
	width: 80%;
}
img.fs_cap_p {
	height: 80%;
	width: 80%;
}


/* ############################################# */
/* #################### Index ################## */
/* ############################################# */
h2.groupletter {
	text-align: left;
	margin: 1.5em 0 0 0;
	font-weight: bold;
	font-size: 1.2em;
}

div.index-group ul {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}
div.index-group li {
	display: block;
}
div.index-group ul li { /* index1 */
    text-align: left;
    text-indent: -2.25em;
    margin-left: 2.25em;
}
div.index-group ul ul li { /* index2 */
    text-align: left;
    text-indent: -2.25em;
    margin-left: 3.75em;
}
div.index-group ul ul ul li { /* index3 */
    text-align: left;
    text-indent: -2.25em;
    margin-left: 5.25em;
}

/* ############################################# */
/* ################# Glossary ################## */
/* ############################################# */
dl.glossary dt {
	margin-top: 1em;
	font-weight: bold;
}
dl.glossary dd {
	margin-left: 2em;
	text-align: justify;
}


/* ############################################# */
/* ################### Notes ################### */
/* ############################################# */
a.noteref {
    vertical-align: superscript;
    font-size: 0.8em;
}
aside.note {
	margin-top: 1em;
}
aside.note p {
	text-indent: 0;
}

/* ############################################# */
/* ################## Margins ################## */
/* ############################################# */
.top20 {margin-top: 1.125em;}
.top30 {margin-top: 1.5em;}
.topbot30 {margin-top: 1.5em; margin-bottom: 1.5em;}


/* ############################################# */
/* #################### Other ################## */
/* ############################################# */
span.dropcap {
	font-size: 3.2em;
	font-family: "DancingScript";
	line-height: 1;
	height: 0.8em;
	float: left;
	margin: 0 4px 0 0;
}
span.leadin {font-variant: small-caps;}
span.sc {font-variant: small-caps;}
span.sm {text-transform: lowercase;}
a, a:link {
	color: #046DC8;
}
a:hover {
	color: #c76004;
}

hr.bluebonnet {
	width: 100%;
	height: 70px;
	background-image: url('images/bluebonnet.png');
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center;
	border: transparent;
}

em, i, .italic, .source, .indexfig {
    font-style: italic;
}
strong, b, .bold {
    font-weight: bold;
}



